---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full flex justify-center">
        <div class="max-w-[700px]">
            <h1 class="text-4xl font-bold sm:tracking-tight">Tom Watkins</h1>
            <h2
                class="text-2xl text-gray tracking-tight dark:text-gray-500 mb-4"
            >
                Senior Software Engineer
            </h2>
            <article class="leading-6">
                <p class="mb-2">
                    Hey, my name's Tom Watkins and I'm a Senior Software
                    Engineer currently working at <a
                        href="https://www.madetech.com/"
                        class="inline-flex items-center gap-1 bg-slate-100 hover:bg-slate-200 dark:bg-slate-800 dark:hover:bg-slate-700 font-medium rounded px-1.5 py-0.5 text-sm translate-y-1.5 tracking-tighter"
                        ><img
                            src="https://www.madetech.com/wp-content/uploads/2024/10/cropped-madetech-favicon-192x192.png"
                            class="size-6"
                        /> Made Tech</a
                    > in the UK.
                </p>
                <p class="mb-2">
                    I'm passionate about creating robust, performant and well
                    tested software. I am experienced in frontend development
                    but I am currently getting the most joy out of backend or
                    full stack development.
                </p>
                <p class="mb-4">
                    I have got to use many different languages throughout my
                    career, and it doesn't usually take much to nerd snipe me
                    into learning another one. The languages below (listed in
                    order of most to least experience) are languages where I
                    have built at least one thing I am proud of using it:
                </p>
                <ul class="list-disc ml-6 mb-2">
                    <li>TypeScript</li>
                    <li>SQL</li>
                    <li>Python</li>
                    <li>Visual Basic</li>
                    <li>Kotlin</li>
                    <li>Go</li>
                </ul>
                <p class="mb-2">
                    I have also used C#, Java and C++ to a lesser extent and I
                    am currently considering learning Zig or Rust to get better
                    at systems programming.
                </p>
                <p class="mb-2">
                    I've also used many of the most well known frameworks:
                    <ul class="list-disc ml-6 mb-2">
                        <li>Next.js / React</li>
                        <li>Svelte / SvelteKit</li>
                        <li>Astro (what this site is built in!)</li>
                        <li>Flask (Python)</li>
                        <li>Spring Boot (Kotlin)</li>
                    </ul>
                </p>
                <p class="mb-2">
                    Feel free to check out my <a
                        href="https://github.com/tomwatkins1994"
                        class="font-semibold underline">GitHub</a
                    > to see what I am working on in my spare time (what I am brave
                    enough to make public) and follow me on <a
                        href="https://x.com/TomWatkins1994"
                        class="font-semibold underline">X (Twitter)</a
                    >
                    to see my (occasionally spicy) takes on all things software development
                    related and more.
                </p>
            </article>
        </div>
    </div>
</Layout>
