---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="w-full flex justify-center">
        <div class="container justify-center">
            <h1 class="text-4xl font-bold sm:tracking-tight">Tom Watkins</h1>
            <h2
                class="text-2xl text-gray tracking-tight dark:text-gray-500 mb-4"
            >
                Senior Software Engineer
            </h2>
            <article class="leading-6">
                <p class="mb-2">
                    Hey, my name's Tom Watkins and I'm a Senior Software
                    Engineer currently working at <a
                        href="https://www.madetech.com/"
                        class="inline-flex items-center gap-1 bg-slate-100 hover:bg-slate-200 dark:bg-slate-800 dark:hover:bg-slate-700 font-medium rounded px-1.5 py-0.5 text-sm translate-y-1.5 tracking-tighter"
                        ><img
                            src="https://www.madetech.com/wp-content/uploads/2024/10/cropped-madetech-favicon-192x192.png"
                            class="size-6"
                        /> Made Tech</a
                    > in the UK.
                </p>
                <p class="mb-2">
                    I'm passionate about creating robust, performant and well
                    tested software. I am experienced in frontend development
                    but I am currently getting the most joy out of backend or
                    full stack development.
                </p>
                <p class="mb-2">
                    As a polyglot programmer, I am also experienced in multiple
                    programming languages, such as:
                    <ul class="list-disc ml-6 mb-2">
                        <li>TypeScript</li>
                        <li>Python</li>
                        <li>Kotlin</li>
                        <li>Visual Basic</li>
                        <li>Go</li>
                        <li>SQL</li>
                    </ul>
                </p>
                <p class="mb-2">
                    I've also used many of the most well known frameworks:
                    <ul class="list-disc ml-6 mb-2">
                        <li>Next.js / React</li>
                        <li>Svelte / SvelteKit</li>
                        <li>Astro (what this site is built in!)</li>
                        <li>Flask (Python)</li>
                        <li>Spring Boot (Kotlin)</li>
                    </ul>
                </p>
            </article>
        </div>
    </div>
</Layout>
