---
import ThemeButton from "../components/ThemeButton.svelte";
import GitHubLogo from "./logos/GitHubLogo.astro";
import XLogo from "./logos/XLogo.astro";
import LinkedInLogo from "./logos/LinkedInLogo.astro";
---

<nav class="w-full flex flex-row justify-end px-6 py-4 gap-2">
    <ThemeButton client:load />
    <a href="https://github.com/tomwatkins1994"><GitHubLogo /></a>
    <a href="https://x.com/TomWatkins1994"><XLogo /></a>
    <a href="https://www.linkedin.com/in/thomas-watkins-b684409a/">
        <LinkedInLogo />
    </a>
</nav>

<style>
    .icon-link {
        width: 24px;
        height: 24px;
    }
</style>
