---
import ThemeButton from "../components/ThemeButton.svelte";
import GitHubLogo from "./logos/GitHubLogo.astro";
import XLogo from "./logos/XLogo.astro";
import LinkedInLogo from "./logos/LinkedInLogo.astro";
---

<nav class="flex flex-row gap-4">
    <ThemeButton client:load />
    <a href="https://github.com/tomwatkins1994" title="GitHub"><GitHubLogo /></a
    >
    <a href="https://x.com/TomWatkins1994" title="X (Twitter)"><XLogo /></a>
    <a
        href="https://www.linkedin.com/in/thomas-watkins-b684409a/"
        title="LinkedIn"
    >
        <LinkedInLogo />
    </a>
</nav>
