---
import "../styles/global.css";

import Header from "../components/Header.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Tom Watkins</title>
        <script is:inline>
            function darkMode() {
                return (
                    localStorage.theme === "dark" ||
                    (!("theme" in localStorage) &&
                        window.matchMedia("(prefers-color-scheme: dark)")
                            .matches)
                );
            }

            // Necessary for view transitions
            document.addEventListener("astro:after-swap", () => {
                document.documentElement.classList.toggle("dark", darkMode());
            });

            document.documentElement.classList.toggle("dark", darkMode());
        </script>
        <ClientRouter />
    </head>
    <body class="bg-white text-black dark:bg-zinc-900 dark:text-white">
        <Header />
        <slot />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
